<div class="well well-lg">
    <h2>Your Shopping Cart</h2>
</div>
<div class="row">
    <div data-ng-repeat="c in Cart track by $index" class="col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                Title: {{c.name}}
            </div>
            <div class="panel-footer">
                Price: {{c.price}}
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="Cart.length">
    <div class="col-md-2 col-sm-2">
        <button class="btn btn-primary" ng-click="calculateTotal()">Calculate Final Total</button>
    </div>
    <div class="col-md-10 col-sm-10">
        <div class="alert alert-success"><strong>Total Sale:</strong> {{totalSale | currency}}</div>
    </div>
</div>
<div class="row" ng-hide="Cart.length">
    <div class="col-md-12 col-sm-12">
        <div class="alert alert-danger">
            <h4>No items in Cart</h4>
        </div>
    </div>
</div>

